## Importación de librerías

In [1]:
import janitor
import matplotlib.pyplot as plt
import missingno
import numpy as np
import pandas as pd
import pyreadr
import seaborn as sns
import session_info
import upsetplot

## Importar funciones personalizadas

## Configurar el aspecto general de las gráficas del proyecto

In [2]:
%matplotlib inline

sns.set(
    rc = {
        "figure.figsize": (10, 10)
    }
)

sns.set_style("whitegrid")

## Operar con valores faltantes

### Python

In [9]:
print(None or True)
print(None or False)
print(None is None)
print(None == None)
# print(None + 1) No soporta este tipo de operacion

True
False
True
True

### NumPy

In [15]:
print(np.nan or True)
print(np.nan == np.nan)
print(np.nan is np.nan)
print(np.nan / 2)
print(type(np.nan)) # np.nan es de clase float, por lo que se puede operar con el

print(np.isnan(np.nan))

nan
False
True
nan
<class 'float'>
True

### Pandas

In [17]:
test_missing_df = pd.DataFrame.from_dict(
    {
        "x": [0, 1, np.nan, np.nan, None],
        "y": [0, 1, pd.NA, np.nan, None]
    }
)

test_missing_df

     x     y
0  0.0     0
1  1.0     1
2  NaN  <NA>
3  NaN   NaN
4  NaN  None

La evolución de pandas representa los NA como son.
Los dos siguientes son sinónimos.

In [18]:
test_missing_df.isnull()

       x      y
0  False  False
1  False  False
2   True   True
3   True   True
4   True   True

In [19]:
test_missing_df.isna()

       x      y
0  False  False
1  False  False
2   True   True
3   True   True
4   True   True

In [20]:
# Creando diferentes series de datos.
pd.Series([1, np.nan])

0    1.0
1    NaN
dtype: float64

In [21]:
pd.Series([pd.to_datetime("2022-01-01"), np.nan])

0   2022-01-01
1          NaT
dtype: datetime64[ns]

¡En algunas ocasiones -1 es una forma de escribir valores nulos, no se detectan así por defecto!

In [22]:
pd.Series([-1]).isnull()

0    False
dtype: bool